<div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
{% for post in collections.posts %}
<a href="{{ post.url }}" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50 ring-1">
<div class="ml-4">
    <p class="text-base font-medium text-gray-900">{{ post.data.title }}</p>
    <p class="mt-1 text-sm text-gray-500">{{ post.data.author }}</p>
</div>
</a>
{% endfor %}
</div>
