<footer class="bg-gray-800 text-white border-red-500 fixed inset-x-0 bottom-0 p-4">
    <div class="container mx-auto px-6 flex flex-col items-center">
        <p class="text-sm font-bold mb-2">
            © {{ page.date | date: "%Y" }} by Alan Chandler
        </p>
    </div>
</footer>