<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ renderData.title }}</title>
	<link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/images/chandler-crest.svg" type="image/svg+xml">
</head>
<body>
	<nav class="bg-gray-800 max-w-7xl mx-auto px-2 py-2 sm:px-6 lg:px-8 lg:py-4">
		<ul class="flex justify-center lg:justify-start">
			<li class="flex">
				<a href="/" class="flex-shrink-0 flex items-center">
					<img class="block lg:hidden h-8 w-auto" width="30px" height="30px" src="/images/chandler-crest.svg" alt="Chandler family crest" />
					<img class="hidden lg:block h-8 lg:h-12 w-auto" width="40px" height="40px" src="/images/chandler-crest.svg" alt="Chandler family crest" />
				</a>
			</li>
		</ul>
	</nav>
	<main>
	{{ content }}
	</main>
</body>
</html>